# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# Virtual environment
# =========================
venv/
.env/
.conda/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Dataset folders
# =========================
dataset/CQI_Mobility_low_region_1
dataset/route/
dataset/

# =========================
# Logs
# =========================
logs/
*.log