# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# Virtual environment
# =========================
venv/
.env/
.conda/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Dataset folders
# =========================
dataset/CQI_Mobility_low_region_1
dataset/route/
dataset/

benchmark/benchmark_epsilon_greedy/epsilon_per_route/plots
benchmark/benchmark_epsilon_greedy/epsilon_per_route/epsilon_greedy_single_ue
benchmark/benchmark_epsilon_greedy/temp
benchmark/benchmark_bandit/temp

# =========================
# Logs
# =========================
logs/
*.log